body {
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

section.hero {
  background-image: url('background-image.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

section.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

section.hero p {
  font-size: 1.5em;
}
